
body {
    background-image: url("equipment-sport-exercise-fitness-background-dumbbells-jump-rope-pastel-pink-top-view-copy-space-107523068.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }
.image{
    width: 100%;
    position: fixed;
    }